<div class="page-header">
  <%= link_to "New Rant", new_user_rant_path(@user), class: "btn btn-info pull-right" %>
  <h2> <%= link_to @user.full_name, edit_user_path(@user) %>'s Rants </h2>
</div>

<h2>Rants</h2>
<table class = "table table-striped">
  <th class = "col-md-3">
    Title
  </th>
  <th class = "col-md-9">
    Body
  </th>
  <th>
  </th>

  <tr>
    <% @user.rants.each do |rant| %>
    <td class = "col-md-3">
      <%= rant.title %><br>
    </td>
    <td class = "col-md-9">
      <%= rant.body %><br>
    </td>
    <td>
      <%= link_to "Edit", edit_user_rant_path(@user, rant) %>
    </td>
  </tr>
    <% end %>
</table>

  <%= link_to "Delete User", user_path(@user), :method => :delete, class: "btn btn-danger pull-right" %>
