  <%= render "layouts/errors", object: @rant %>


  <div class="rant-box">
    <%= form_for [@user, @rant] do |f| %>
      <table>
        <tr class = "rant-head">
          <th>

              <h2><%= f.text_field :title, class: "wide" %></h2>

          </th>
          <th>

            <div class="delete-button">
              <%= link_to "Delete", rant_path(@rant), method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-trash-o" %>
            </div>

              <!-- # # # LOOKS GOOD BUT IS A DUMMY BUTTON # # #
              <div class="delete-button">
                <i class="fa fa-trash-o"></i> Delete
              </div> -->

            <div class="cancel-button">
              <%= link_to "Cancel", '#', class:"fa fa-sign-in" %>
            </div>

            <div class="">
              <%= f.submit "Save", class:"fa fa-upload body-button " %>
            </div>

          </th>
        </tr>
        <tr>
          <td class= "rant-post">
            <div class="avatar">
            </div>
              <%= f.text_area :body %>
          </td>
        </tr>
      </table>










      <div class="rant-head">




    </div>


    <div class="rant-post">



    </div>

    <% end %>
  </div>
