<% content_for :side_error do %>
  <br><%= render "layouts/errors", object: @rant %>
<% end %>

  <div class="rant-box">
    <%= form_for [@user, @rant] do |f| %>
      <div class="rant-head">
        <%= link_to " Cancel", '#', class:"cancel-button fa fa-sign-in" %>
          <button class="body-button fa fa-upload lift"> Save</button>
        <h2><%= f.text_field :title, class: "wide", :placeholder => "Rant Title" %></h2>
      </div>

    <div class="rant-post">
      <div class="avatar">
      </div>
      <span class="countdown"></span>
      <%= f.text_area :body, class:"text-area message", :placeholder => "Start your rant." %>
      <% end %>
    </div>
  </div>

  </div>

</div>
