<% content_for :side_error do %>
  <br><%= render "layouts/errors", object: @rant %>
<% end %>

  <div class="rant-box">
    <%= form_for [@user, @rant] do |f| %>
      <div class="rant-head">

          <%= link_to " Cancel", '#', class:"cancel-button fa fa-sign-in" %>

          <%= f.submit "Save", class:"body-button fa fa-upload" %>

        <div class="form-group">
          <h2><%= f.text_field :title, class: "wide", :placeholder => "Rant Title" %></h2>
        </div>
    </div>

    <div class="avatar">
    </div>
    <div class="rant-post">

          <div class="form-group">
            <%= f.text_area :body, class: "col-md-offset-4 col-md-8", :placeholder => "Start your rant." %>
          </div>

        <% end %>
    </div>
  </div>

  </div>

</div>
