<!DOCTYPE html>
<html>
<head>
  <title>RServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Laila:700|Hind:200'
      rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

  <div class= "navbar">
    <div class="container">
      <%= link_to "Rantly", root_path  %>
        <span><%= link_to "Rants", root_path  %></span>
        <span><%= link_to "Users", users_path %></span>
        <span><%= link_to "Sign Up", signup_path  %></span>
        <% if current_user %>
          <span class = "pull-right"><%= current_user.full_name %></span>
        <% end %>
    </div>
  </div>

  <div class="header">
    <div class="container">

      <%= form_tag search_path, class:"search", :method => 'get' do %>
        <% if params['search'] == "" %>
          <%= text_field_tag :search, params[:search], placeholder: "This can't be blank!", class: "search" %>
        <% else %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "search" %>
        <!-- <%= submit_tag "Search", :name => nil, class: "btn btn-warning" %> -->
        <% end %>
      <% end %>

      <%= link_to "New Rant", new_rant_path, class: "new-button"  %>
    </div>
  </div>

<div class="container">
    <div class="profile-box">
      <% if current_user == nil %>
        <br>
        <%= form_tag signin_path do |f| %>
          <div class="">
            <%= email_field_tag :email, nil, class:"user-form", placeholder: "Your email" %>
          </div>
          <div class="">
            <%= password_field_tag :password, nil, class:"user-form", placeholder: "Your password" %>
          </div>
            <%= submit_tag "Log In", class: "profile-button" %>
        <% end %>
      <% else %>
          <div class="profile-pic" style="background-image: url('<%= current_user.gravatar_url %>')">

          <!-- <%= image_tag current_user.gravatar_url %> -->
        </div>
        <br>
        <%= link_to "Log Out", signout_path, class: "profile-button drop"  %>
      <% end %>

      <%= yield :side_error %>
    </div>


      <div class="rcontainer">

    <% if notice.is_a? String %>
      <div class="text-center alert alert-info">
        <%= notice %>
      </div>
    <% end %>

      <span class="scroll"><%= yield %></span>

  </div>
</div>
  <script>
    $( "confirm" ).click(function() {
      $( ".rcontainer" ).fadeOut( 1800 );
    });
  </script>

<script>
  $( "not.rcontainer" ).click(function() {
    $( ".rcontainer" ).fadeOut( "slow" );
  });
</script>

</body>
</html>
